body {
	background-color: gray;
}

.one-unit {
	background-color: black;
	width: 1in;
	height: 1in;
	margin: 0 auto;
}

.test-block {
	display: none;
	width: 1in;
	height: 1in;
	margin: 1em auto;
	color: black;
	background-color: white;
	font-family: arial;
	text-align: center;
	font-size: 10px;
}

.test-block.96-pixels {
	width: 96px;
}

.test-block.no-res,
.test-block.device-dpi {
	display: block;
}

.test-block h2 {
	font-size: 13px;
	text-align: center;
}

.test-block p {
	font-size: 8px;
	text-align: center;
}

<?php
for ($width=260;$width<=1400;$width++) {
print '
@media screen and (width:' . $width . 'px) {
 .test-block.width-' . $width . ' {
 	display: block;
 }
}
';
}

for ($device_width=260;$device_width<=3000;$device_width++) {
print '
@media screen and (device-width:' . $device_width . 'px) {
 .test-block.device-width-' . $device_width . ' {
 	display: block;
 }
}
';
}

for ($resolution=72;$resolution<=400;$resolution++) {
print '
@media screen and (resolution:' . $resolution . 'dpi) {
 .test-block.resolution-' . $resolution . ' {
 	display: block;
 }
 .test-block.no-res {
 	display: none;
 }
}
';
}